.template-upload {
	border-top: 1px solid #DDDDDD;
	padding: 10px 0;
}

.template-upload:first-child {
	border-top: none;
}

.files .progress-successful {
	background-image: url(/images/ok.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.files .progress-successful.progress-adding {
	background-image: url(/images/ajax-loader-small.gif) !important;
}

.files .preview {
	width: 150px;
	height: 150px;
}

.files .name {
	margin-left: 30px;
	width: 150px;
	word-wrap: break-word;
}

.files .size {
	width: 60px;
	margin-right: 10px;
}

.files .progress-bar {
	width: 210px;
	margin-right: 20px;
}

.files .error {
	width: 210px;
	text-align: center;
	margin-right: 20px;
}

.files .start, .files .add, .files .cancel {
	width: 105px;
	margin-right: 10px;
}

.files .start button, .files .add button, .files .cancel button {
	width: 105px;
}

.files .data_active {
	margin: 30px 0 0 190px;
	padding: 10px;
}

.files .data_active .data_block {
	position: relative;
	margin-bottom: 5px;
}

.files .data_active .data_name {
	position: absolute;
	left: 0;
	top: 3px;
	width: 80px;
}

.files .data_active .hide_data, .files .selected .pool button {
	position: absolute;
	right: 0;
	top: 1px;
	padding: 3px 0;
	width: 20px;
}

.files .data_field, .files .selected .pool div {
	margin: 0 30px 0 80px;
}

.files .selected .pool {
	position: relative;
	margin-bottom: 5px;
}

.files .selected .pool div {
	cursor: default;
}

.files .selected .pool div:hover {
	background-color: inherit;
	background-position: inherit;
	color: inherit;
	transition: none;
}

.files .selected .filename {
	float: right;
	width: 40%;
	margin-bottom: 0;
	margin-right: 30px;
}

.files .data_field.with_input {
	margin-right: 38px;
}

.files .data_field input, .files .data_field textarea {
	width: 100%;
	margin-bottom: 0;
}

.files .data_field textarea {
	resize: none;
}

.files .data_field textarea.autogrow-short {
	resize: none;
	height: 20px;
}

.tips_container {
	position: relative;
	margin: 0 32px 0 80px;
}

.tips {
	width: 100%;
	left: 1px;
 }

.files .data_passive {
	margin: 0 0 0 190px;
	padding: 10px;
}

.files .data_passive button {
	margin-left: 10px;
}
