#upload_main table {
	width: 100%;
}

.files td {
	padding-left: 1px;
	padding-right: 1px;
}

.files .progress-successful {
	background-image: url(/images/ok.png);
	background-repeat: no-repeat;
	background-position: center 10px;
}

.files .preview {
	width: 150px;
}

.files .size {
	width: 60px;
}

.files .progress-bar {
	width: 210px;
}

.files .error {
	width: 313px;
	text-align: center;
}

.files .start, .files .add, .files .cancel {
	width: 105px;
}

.files .start button, .files .add button, .files .cancel button {
	width: 105px;
}
