.new_pool {
	padding: 10px;
}

.pool_data {
	position: relative;
	margin-bottom: 5px;
}

.pool_data .data_field {
	margin-left: 90px;
}

.pool_data .with_input {
	margin-right: 14px;
}

.pool_data .data_field input, .pool_data .data_field textarea {
	width: 100%;
}

.pool_data .data_name {
	position: absolute;
	left: 0;
	top: 3px;
	width: 90px;
}

.pool_data .tips_container {
	position: relative;
	margin: 0 1px 0 89px;
}

.pool_data .tips {
	width: 100%;
	left: 1px;
}

.pool_data .data_field textarea.autogrow-short {
	resize: none;
	height: 20px;
}
