.admin-tag-filter button {
	margin-bottom: 9px;
}

.admin-tag-filter {
	margin-left: 20px;
}

.admin-tag-filter div {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
}

.admin-tag-filter div input {
	margin: 0;
}

.admin-tag-table {
	width: 100%;
}

.admin-tag-table tr {
	border-bottom: 1px lightgray solid;
	height: 31px;
}

.admin-tag-table td {
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.admin-tag-table td > div {
	width: 100%;
	height: 30px;
}

.admin-tag-table td > div span, .admin-tag-table td > div a {
	height: 30px;
	vertical-align: middle;
	display: table-cell;
}

.admin-tag-table td > div input {
	width: 90%;
}

.admin-tag-table tr td .hidden {
	display: none;
	margin-bottom: 0;
}

.admin-tag-table tr td select {
	width: 150px;
}

.admin-similar {
	margin: 0 0 10px 25px;
	width: 900px;
}

.admin-similar > div:first-child {
	border-top: 1px lightgray solid;
}
.admin-similar > div {
	border-bottom: 1px lightgray solid;
	padding: 5px;
}