html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	min-width: 1006px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -94px;
}

.content {
	padding: 20px 10px 10px 10px;
}

a, .pseudolink {
	color: #42A3B9;
	cursor:pointer;
}

a.plaintext {
	color: #000000 !important;
	text-decoration: none;
}

p {
	margin-top: 0px;
}

img {
	border: none;
}

ul li {
	list-style-type: none;
}

ul.plain_list {
	margin: 0;
	padding: 0;
	list-style-type: none !important;
}

.cancel-holder {
	width: 90px;
}

.left  {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.relative {
	position: relative;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.displayed {
	display: block !important;
}

.margin10 {
	 margin-bottom: 10px;
}

.margin20 {
	 margin-bottom: 20px;
}

.margin30 {
	 margin-bottom: 30px;
}

.right20 {
	margin-right: 20px;
}

.input60 {
	width: 60%;
}

.input70 {
	width: 70%;
}

.input80 {
	width: 80%;
}

.second_button {
	margin-left: 5px;
}

.first_button {
	margin-right: 35px;
}

wbr {
	display: inline-block;
}

.no-border {
	border: none !important;
}

div.mini-shell {
	border: 1px solid #E7E7E7;
	padding: 2px;
}

div.mini-shell div.text {
	margin: 15px;
}

.clickable {
	cursor:pointer !important;
}

.loader {
	background-image: url('/images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	height: 31px;
	display: none;
}

.error {
	color: red;
	font-weight: bold;
	text-align: center;
}

.success {
	color: green;
	font-weight: bold;
	text-align: center;
}

.textinput {
	text-decoration: none !important;
	color: #565656 !important;
	cursor: pointer !important;
	padding: 3px 3px 3px 3px !important;
	border-radius: 0.5em !important;
	background-color: #EFEFEF !important;
	border-top: 1px solid #CCC !important;
	border-left: 1px solid #CCC !important;
	border-bottom: 1px solid #EEE !important;
	border-right: 1px solid #EEE !important;
	padding: 3px 3px 3px 3px !important;
}

.textinput:hover {
	background-color: white !important;
	border: 1px solid #CCC !important;
	color: #565656 !important;
}

.help_text {
	border: 1px dashed #008b8b;
	border-radius: 10px;
	background-color: #ffffe0;
	padding: 5px;
	margin: 0 5px;
}

.wysibb .powered {
	display: none
}