html, body {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	min-width: 1006px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -94px;
}

.content {
	padding: 20px 10px 10px 10px;
}

a {
	color: #42A3B9;
	cursor:pointer;
}

a.plaintext {
	color: #000000 !important;
	text-decoration: none;
}

p {
	margin-top: 0px;
}

img {
	border: none;
}

ul li {
	list-style-type: none;
}

ul.plain_list {
	margin: 0;
	padding: 0;
	list-style-type: !important;
}

.cancel-holder {
	width: 90px;
}

.left  {
	float: left;
}

.right {
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.relative {
	position: relative;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.margin10 {
	 margin-bottom: 10px;
}

.margin20 {
	 margin-bottom: 20px;
}

.margin30 {
	 margin-bottom: 30px;
}

.right20 {
	margin-right: 20px;
}

.input60 {
	width: 60%;
}

.input70 {
	width: 70%;
}

.input80 {
	width: 80%;
}

.second_button {
	margin-left: 5px;
}

.first_button {
	margin-right: 35px;
}

#easyTooltip {
	padding: 5px 10px;
	border: 1px solid #195fa4;
	background: #195fa4 url('/images/bg.gif') repeat-x;
	color: #FFFFFF;
}

wbr {
	display: inline-block;
}

div.mini-shell {
	border: 1px solid #E7E7E7;
	padding: 2px;
}

div.mini-shell div.text {
	margin: 15px;
}

.clickable {
	cursor:pointer !important;
}

.loader {
	background-image: url('/images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	height: 31px;
	display: none;
}

.error {
	color: red;
	font-weight: bold;
	text-align: center;
}

.success {
	color: green;
	font-weight: bold;
	text-align: center;
}
