#edit_form_main {
	margin: 0 10px 10px 250px;
	padding: 15px 10px 10px 10px;
	text-align: left;
	border: 1px dashed #008b8b;
	border-radius: 5px;
	position: relative;
}

#edit_form_main .cancel {
	background-image: url('/images/close_overlay.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 31px;
	width: 31px;
	position: absolute;
	top: -15px;
	right: -15px;
}

#edit_form_main .save {
	margin: 3px;
}

#edit_form_main .form {
	margin-bottom: 5px;
	padding: 0 10px 0 4px;
}

#edit_form_main .form input, #edit_form_main .form textarea {
	width: 100%;
}

#edit_form_main .form textarea {
	resize: none;
}

#edit_form_main .form .comment_text {
	height: 100px;
}

#edit_form_main .form textarea.autogrow-short {
	resize: none;
	height: 20px;
}

#edit_form_main .form .tips_container {
	position: relative;
	width: 100%;
	margin: 0 10px 0 10px;
}

#edit_form_main .form .tips_container .tips {
	width: 70%;
	top: 2px;
	right: 6px;
}

#edit_translation_main .undo, #edit_translation_main .redo {
	font-size: 200%;
	padding-left: 6px !important;
	padding-right: 6px !important;
	float: right;
	margin-right: 10px;
	visibility: hidden;
}

#edit_translation_main .info {
	border: 1px dashed #008b8b;
	border-radius: 10px;
	background-color: #ffffe0;
	padding: 5px;
	margin: 5px;
}