ul.plain_list {
	margin: 0;
	padding: 0;
	list-style-type: none !important;
}

.header_menu {
	height: 28px;
	background: url(/images/top.png) 0 0 repeat-x;
	position: relative;
	padding-left: 10px;
	margin-bottom: 28px;
}

.header_menu ul {
	margin: 0;
	padding: 0;
}

.header_menu li.separator {
	border-left: 1px solid #ddd;
	display: inline-block;
	height: 10px;
	vertical-align: middle;
}

.main_menu li.header_menu_item {
	float: left;
}

.main_menu li.header_menu_item a.link,
.main_menu li.header_menu_item span {
	text-shadow: 0 0 1px #fff;
	color: #444;
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	background: url(/images/top.png) 0 -28px repeat-x;
	text-decoration: none;
}

.main_menu li.header_menu_item_last {
	display: block;
	width: 5px;
	height: 28px;
	background: url(/images/top.png) 0 -28px repeat-x;
}

.main_menu li.header_menu_item:hover a.link,
.main_menu li.header_menu_item:hover span {
	background: url(/images/top.png) 0 -56px repeat-x;
}

.main_menu li.header_menu_item.current a.link,
.main_menu li.header_menu_item.current span {
	background: url(/images/top.png) 0 -84px repeat-x;
}

.main_menu li.header_menu_item a.link:hover {
	text-decoration: underline;
}

.main_menu li.header_menu_item ul {
	display: none;
	position: absolute;
	z-index: 10;
	background: #f3f3f3 url(/images/top_light.png);
	width: 100%;
}

.main_menu li.header_menu_item:hover ul li,
.main_menu li.header_menu_item:hover ul li a.link,
.main_menu li.header_menu_item:hover ul li span,
.main_menu li.header_menu_item.current ul li,
.main_menu li.header_menu_item.current ul li a.link,
.main_menu li.header_menu_item.current ul li span {
	background: transparent;
}

.main_menu li.header_menu_item ul li {
	border-bottom: 1px solid #eee;
	display: inline-block;
	zoom: 1;
}

.main_menu li.header_menu_item ul li a.link {
	display: block;
	padding: 0 8px;
	margin: 0;
	font-weight: normal;
}

.main_menu li.header_menu_item ul li:hover a.link {
	color: #07A00B;
	text-decoration: none;
}

.main_menu li.header_menu_item.current ul a.link {
	color: #333;
}

.main_menu li.header_menu_item:hover ul,
.main_menu li.header_menu_item.current ul {
	display: block;
	left: 0;
}

/* arrow */
.main_menu li.header_menu_item > a {
	position: relative;
}

.main_menu li.header_menu_item:hover > a:after,
.main_menu li.header_menu_item.current > a:after {
	top: 100%;
	border: solid transparent;
	content:" ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 11;
}

.main_menu li.header_menu_item:hover > a:after,
.main_menu li.header_menu_item.current > a:after {
	border-color: rgba(206, 206, 206, 0);
	border-top-color: #cecece;
	border-width: 4px;
	left: 50%;
	margin-left: -4px;
}

.header_private_item li a {
	display: inline-block !important;
}

.edit_private_item {
	height: 16px;
	width: 16px;
	background: url(/images/edit.gif) 0 0 no-repeat;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	top: 3px;
}

.edit_private_item:hover {
	text-decoration: none;
}

#personal_link_dummy {
	display: none;
}