.art {
	margin: 10px 10px 10px 250px;
	text-align: center;
	position: relative;
}

.scroll {
	position: absolute;
	top: 200px;
	opacity: 0.5;
	cursor: pointer;
}

.scroll:hover {
	opacity: 1;
}

.scroll_left {
	left: 10px;
}

.scroll_right {
	right: 10px;
}
