.art {
	margin: 10px 10px 10px 250px;
	text-align: center;
	position: relative;
}

.enlarge_icon {
	position: absolute;
	top: 0;
	right: 10px;
}

.scroll {
	display: none;
	position: absolute;
	top: 200px;
	opacity: 0.5;
	cursor: pointer;
}

.scroll:hover {
	opacity: 1;
}

.scroll_left {
	left: 10px;
}

.scroll_right {
	right: 10px;
}

.image {
	display: inline-block;
	position: relative;
	margin: 0 35px 10px 35px;
}

.art_translation {
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
	cursor: pointer;
}

.art_translation .box {
	background: #FFE;
	border: 1px solid black;
	text-align: left;
	display: none;
	min-height: 10px;
	position: absolute;
	padding: 5px;
	top: 100%;
	left: -1px;
	cursor: pointer;
	overflow: auto;
	z-index: 15;
}

.art_translation .edit_translation {
	text-align: left;
	display: none;
	width: 600px;
	position: absolute;
	top: 100%;
	right: -300px;
	overflow: auto;
	z-index: 25;
}

.art_translation .edit_translation textarea {
	min-height: 200px;
}

.art_translation .edit_translation .wysibb {
	-moz-box-shadow: 0px 4px 4px #999;
	-webkit-box-shadow: 0px 4px 4px #999;
	box-shadow: 0px 4px 4px #999;
}

.art_translation .handle {
	height: 100%;
}

.wbb-save img {
	margin: 2px;
}

.image_comment_block {
	border-top: 1px solid #DCDCDC;
}

.image_comment {
	text-align: left;
	margin: 20px 40px;
}

.reloading {
	text-align: center;
	border: 1px dashed #008b8b !important;
	border-radius: 3px !important;
}