.images_wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 0 30px;
	text-align: center;
	position: relative;
}

.scroll {
	position: absolute;
	opacity: 0.5;
	cursor: pointer;
	top: 45%;
}

.scroll:hover {
	opacity: 1;
}

.scroll_left {
	left: 5px;
}

.scroll_right {
	right: 5px;
}

.images {
	text-align: left;
	display: inline-block;
}
