.pool_description {
	padding-bottom: 2px;
	border-bottom: 1px solid #BBB;
}

.images_wrapper {
	text-align: center;
	position: relative;
}

.images {
	text-align: left;
	margin: 10px 10px 10px 250px;
}

.info_tip {
	position: absolute;
	top: 0px;
	right: 0px;
	font-weight: bold;
	font-size: 15px;
	color: #009900;
}

.errors {
	color: #B94A48;
	font-weight: bold;
	font-size: 120%;
}