.pagination {
	text-align: left;
	margin-left: 250px;
}

.pagination ul {
	padding-left: 0px;
}

.pagination li a, .pagination li span {
	padding: 0 9px;
	line-height: 28px;
}

.pagination li.active_page a, .pagination li.active_page a:hover {
	color: #333333;
}
