.search_form {
	position: relative;
}

.search_form input[type="text"] {
	width: 300px;
}

.search_form .tips {
	width: 358px;
	right: 1px;
	top: 30px;
}

.ajax-tip.search-language a {
	color: #CE890B;
}