.filter-wrapper {
	width: 600px;
}

.filter-wrapper input[type="checkbox"] {
	margin: 0;
}

.filter-item {
	height: 30px;
}

.filter-item span {
	position: relative;
	bottom: 4px;
	margin-right: 20px;
}

.filter-item button {
	margin-left: 20px;
}

.filter-item select {
	width: auto;
}

.settings hr {
	background-color: #666;
	border: 0 none;
	color: #666;
	height: 1px;
}

.settings .settings_header {
	font-size: 1.2em;
	font-weight: bold;
}


.settings .settings_item {
	height: 35px;
}

.settings select {
	width: auto;
	float: right;
}

.settings input[type="checkbox"] {
	float: right;
}