.sidebar {
	float: left;
	text-align: left;
	width: 232px;
}

.sidebar_part {
	width: 232px;
	border: 2px solid #999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	padding: 6px 5px 1px 5px;
	margin-bottom: 15px;
}

.sidebar_row {
	margin-bottom: 5px;
	word-wrap: break-word;
}

.sidebar_row .vote {
	margin-left: 5px;
}

.rating_row .voted {
	opacity: 0;
	float: right;
}

.rating_row:hover .voted {
	opacity: 0.5;
}

.tag {
	width: 170px;
	display: block;
	word-wrap: break-word;
}

.question, .inactive_question {
	margin-left: 4px;
	float: right;
}

.count {
	float: right;
}

.inactive_question a {
	color: #999999;
}

.vote_disabled {
	opacity: 0.5;
}