.image_thumbnail {
	display: inline-block;
	text-align: center;
	position: relative;
	vertical-align: top;
}

.image_thumbnail img {
	vertical-align: inherit;
}

.small_thumbnail {
	width: 160px;
	height: 160px;
}

.comment_thumbnail {
	margin: 5px;
	padding: 5px;
	border-top: 1px solid #808080;
}

.comment_thumbnail:first-child {
	border-top: none;
}

.comment_thumbnail_text {
	min-height: 160px;
	padding-left: 190px;
}

.small_thumbnail img {
	padding: 5px;
}

.thumbnail_chosen_cover img {
	border: 2px solid #8b1a5c;
	padding: 3px;
	border-radius: 4px;
}

.thumbnail_removed img {
	border: 2px solid #e3012b;
	padding: 3px;
	border-radius: 4px;
}