<form id="upload_main" action="/ajax/upload/" method="POST" enctype="multipart/form-data">
	<div class="row fileupload-buttonbar">
		<div class="span7">
			<span class="btn btn-success fileinput-button">
				<i class="icon-picture icon-white"></i>
				<span>Выбрать изображения</span>
				<input type="file" name="file[]" multiple />
			</span>
			<button type="submit" class="btn btn-warning start">
				<i class="icon-upload icon-white"></i>
				<span>Закачать все</span>
			</button>
			<button type="button" class="btn btn-primary add">
				<i class="icon-plus icon-white"></i>
				<span>Добавить все</span>
			</button>
		</div>
		<div class="span5 fileupload-progress fade">
			<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				<div class="bar" style="width:0%;"></div>
			</div>
			<div class="progress-extended">&nbsp;</div>
		</div>
	</div>
	<div class="fileupload-loading"></div>
	<br>
	<div role="presentation" class="table table-striped">
		<div class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></div>
	</div>
</form>
<script type="text/javascript">
	add('upload', 'main');
	UPLOAD_UNITS_COUNT = 0;
</script>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
	<div class="template-upload fade" id="add_{%=(++UPLOAD_UNITS_COUNT)%}">
		<div class="preview left"><span class="fade"></span></div>
		<div class="name left"><span>{%=file.name%}</span></div>

		<div class="cancel right">
			{% if (!i) { %}
				<button class="btn btn-danger">
					<i class="icon-ban-circle icon-white"></i>
					<span>Удалить</span>
				</button>
			{% } %}
		</div>
		<div class="add right">
			{% if (o.files.valid && !i) { %}
				<button class="btn btn-primary">
					<i class="icon-upload icon-white"></i>
					<span>Добавить</span>
				</button>
			{% } %}
		</div>
		<div class="start right">
			{% if (o.files.valid && !i) { %}
				<button class="btn btn-warning">
					<i class="icon-upload icon-white"></i>
					<span>Закачать</span>
				</button>
			{% } %}
		</div>
		<div class="progress-bar right">
			{% if (o.files.valid && !i) { %}
				<div class="progress progress-success progress-striped active"
				     role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
					<div class="bar" style="width:0%;"></div>
				</div>
			{% } %}
		</div>
		<div class="error {% if (!file.error) { %}hidden{% } %} right">
			<span class="label label-important">
				{% if (file.error) { %}
					{%=locale.fileupload.errors[file.error] || file.error%}
				{% } %}
			</span>
		</div>
		<div class="size right"><span>{%=o.formatFileSize(file.size)%}</span></div>
		<div class="clear"></div>
	</div>
	{% add('add', UPLOAD_UNITS_COUNT); %}
{% } %}
</script>
