.overlay_box {
	display: none;
	width: 400px;
	border: 10px solid #666;
	border: 10px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.overlay_box > div {
	padding: 10px;
	border: 1px solid #3B5998;
	background-color: #fff;
}

.overlay_box >  h2 {
	margin: -11px;
	margin-bottom: 0px;
	color: #fff;
	background-color: #6D84B4;
	padding: 5px 10px;
	border: 1px solid #3B5998;
}

.overlay_loading {
	display: none;
	text-align: center;
}
