.searchbox .active {
	background-color: #AADDFF;
}

.searchbox {
	width: 100%;
}

.search-tip {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	clear: both;
	position: relative;
}
